html,body {
    max-width: 100%;
}

body {
    background-image: url(../Images/index_bg.jpg);
    background-repeat: no-repeat;
    background-color: blue;
    background-size: cover;
}

button{
    margin: 2%;
    margin-inline: 5%;
    border: transparent;
    border-radius: 5%;
    width: 50%;
    height: 15%;
    font-size: xx-large;
}


aside{
    width: 10%;
    height: 45px;
    background-color: #cfa989;
    border: solid ;
    display: flex;
}
#userImage{
    width: 45px;
    height: 45px;
}

main, #choicesMenu{
    background-color: #0000029c;
    flex-direction: row;
    display: flex;
    width: 44%;
    height: 78%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
#logo{
    width: 75%;
    height: 23%;
    position: absolute;
    top: -5%;
}
#misteryAdventures{
    background-color: lightblue;
}
#ranking{
    background-color: rgb(161, 94, 74);
    margin-inline: 10%;
}
#logIn{
    background-color: green;
}
#choicesMenu{
    background-color: transparent;
    flex-direction: row;
    display: flex;

    width: 100%;
    height: 100%;
}
#createAcc{
    background-color: rgb(224, 190, 97);
}
#logInScreen{
    color: whitesmoke;
    background-color: transparent;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#logInScreen button, #logInScreen input{
    font-size: large;
    text-align: center;
    margin: 2%;
    width: 50%;
    height: 5%;
}